<div class="banner", id="contact-banner", style="background-image: url(<%= image_path("water.jpg")%> );">
  <div class="banner_content_contact" id= "contact_heading">
    <h1>Contact</h1>
    <h3 class="call-now">Phone:</h3>
    <a href="tel:3033458423" class="contact-phone"> 303-345-8423</a>
    <p>Or fill out this form and we'll be in touch soon:</p>
    <div class="form-box">
      <%= simple_form_for @contact do |f| %>
        <%= f.error_notification %>
        <%= f.input :first_name, label: "First Name", placeholder: "First Name" %>
        <%= f.input :last_name, label: "Last Name", placeholder: "Last Name"%>
        <%= f.input :phone, placeholder: "303-###-####" %>
        <%= f.input :email, placeholder: "hello@mail.com"  %>
        <%= f.input :preference, label: "Preferred Form of Contact:",  priority: [ "Email" ], collection: [ "Phone Call", "Email", "Text Message", "Any"] %>
        <%= f.input :message, as: :text, placeholder: "What would like help with, best time to contact you, special requests, or anything else you think we should know." %>

          <div>
            </br>
            <div class="form-actions">
              <%= f.submit :submit, value: "SUBMIT", id: "submit-btn", class: 'btn' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
